.vscode/
docs/_build/
*.mo
.env
.python-version
.venv/
wheelhouse/
build/
.python-version
test*
*.log*
*log*/
cache/
ignore/
*.ipynb*
*.ipynb*/
*pycache*
*pycache*/
*.DS_Store*
*.DS_Store*/
dist/
*egg-info/
__*
!__init__.py
TODO
logs/
*.txt
*.pb
*.pb.*
venv_arm/
*.pkl
*.json
*.sh